{{outlet}}
<div class="container-fluid">
<h1>Album</h1>
<div class="albums">
  <div class="row">
    <div class="col-md-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/WinsAndLosses.jpg">
      <h2>Wins and Losses</h2>
    </div>
    <div class="col-md-4">
      <img src="http://images.genius.com/c882a112b55acb3623fa4b0e4d9bd37c.1000x1000x1.jpg">
      <h2>Issa</h2>
    </div>
    <div class="col-md-4">
      <img src="http://www.xxlmag.com/files/2017/08/Lil-Uzi-Vert-Luv-Is-Rage-2.jpeg?w=630&h=624&zc=1&s=0&a=t&q=89">
      <h2>Luv is Rage 2</h2>
    </div>
  </div>
  <div class="space"></div>
  <div class="row">
    <div class="col-md-4">
      <img src="https://hypebeast.imgix.net/http%3A%2F%2Fhypebeast.com%2Fimage%2F2017%2F08%2Fasap-mob-cozy-tapes-vol-2-release-date-1.jpg?fit=max&fm=pjpg&ixlib=php-1.1.0&q=90&w=1170&s=722c7e162bb53b6d00ed283ee07de247">
      <h2>Cosy Tapes Vol:2</h2>
    </div>
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/hiphopdx-production/2017/08/xxxtentacion-album-cover.jpeg">
      <h2>17</h2>
    </div>
    <div class="col-md-4">
      <img src="https://hypebeast.imgix.net/http%3A%2F%2Fhypebeast.com%2Fimage%2F2017%2F08%2Fasap-ferg-still-striving-stream-0.jpg?fit=max&fm=pjpg&ixlib=php-1.1.0&q=90&w=1170&s=046c5bd5eed6b2565fb90d0363e244f9">
      <h2>Still Striving</h2>
    </div>
  </div>
</div>
</div>
